<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ncut.doubanWebSpider.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.ncut.doubanWebSpider.model.weibo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="homepage" property="homepage" jdbcType="VARCHAR" />
    <result column="followee" property="followee" jdbcType="INTEGER" />
    <result column="follewer" property="follewer" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="publish" property="publish" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="registtime" property="registtime" jdbcType="DATE" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, homepage, followee, follewer, gender, publish, nickname, city, registtime, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ncut.doubanWebSpider.model.weibo.User" >
    insert into tb_user (id, homepage, followee, 
      follewer, gender, publish, 
      nickname, city, registtime, 
      level)
    values (#{id,jdbcType=INTEGER}, #{homepage,jdbcType=VARCHAR}, #{followee,jdbcType=INTEGER}, 
      #{follewer,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, #{publish,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{registtime,jdbcType=DATE}, 
      #{level,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ncut.doubanWebSpider.model.weibo.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="homepage != null" >
        homepage,
      </if>
      <if test="followee != null" >
        followee,
      </if>
      <if test="follewer != null" >
        follewer,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="publish != null" >
        publish,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="registtime != null" >
        registtime,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="homepage != null" >
        #{homepage,jdbcType=VARCHAR},
      </if>
      <if test="followee != null" >
        #{followee,jdbcType=INTEGER},
      </if>
      <if test="follewer != null" >
        #{follewer,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="publish != null" >
        #{publish,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="registtime != null" >
        #{registtime,jdbcType=DATE},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ncut.doubanWebSpider.model.weibo.User" >
    update tb_user
    <set >
      <if test="homepage != null" >
        homepage = #{homepage,jdbcType=VARCHAR},
      </if>
      <if test="followee != null" >
        followee = #{followee,jdbcType=INTEGER},
      </if>
      <if test="follewer != null" >
        follewer = #{follewer,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="publish != null" >
        publish = #{publish,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="registtime != null" >
        registtime = #{registtime,jdbcType=DATE},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ncut.doubanWebSpider.model.weibo.User" >
    update tb_user
    set homepage = #{homepage,jdbcType=VARCHAR},
      followee = #{followee,jdbcType=INTEGER},
      follewer = #{follewer,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      publish = #{publish,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      registtime = #{registtime,jdbcType=DATE},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>