<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ncut.doubanWebSpider.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.ncut.doubanWebSpider.model.weibo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="homepage" property="homepage" jdbcType="VARCHAR" />
    <result column="followee" property="followee" jdbcType="INTEGER" />
    <result column="follewer" property="follewer" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="publish" property="publish" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="registtime" property="registtime" jdbcType="DATE" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, homepage, followee, follewer, gender, publish, nickname, city, registtime, level
  </sql>
</mapper>