<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>豆瓣超级无敌爬虫^.^</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.w3cbus.com/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
##   <script src="http://res.layui.com/lay/lib/layer/layer.js"></script>
    <script src="http://cdn.bootcss.com/scrollup/2.4.0/jquery.scrollUp.min.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

    <script>
        function get_data() {
            $.ajax({
                url: 'getAmount/book',
                success: function (data) {
                    console.log(data);
                    $("#book").html(data);
                }
            });

            $.ajax({
                url: 'getAmount/comment',
                success: function (data) {
                    console.log(data);
                    $("#comment").html(data);
                }
            });
        }
        // setInterval("get_data()",60000);//fresh
        function show_tip(data) {
            layer.msg(JSON.stringify(data), {
                time: 60000, //time for close
                btn: ['OK', 'Bye']
            }),
                    console.log(JSON.stringify(data));
        }
        $(function () {
            get_data();

            $('#btn-search').on('click', function () {
                var value = $('.form-control').val();
                if (value == "") {
                    layer.msg("输入不能为空");
                } else {
                    $.ajax({
                        url: 'searchByName?name=' + value,
                        success: function (data) {
                            layer.msg(JSON.stringify(data), {
                                time: 60000, //time for close
                                btn: ['OK', 'Bye']
                            }),
                                    console.log(JSON.stringify(data));
                        }
                    });
                }
            });
            //提交用户No   推荐
            $('#btn-recommend').on('click', function () {
                var value = $('#recommend').val();
                if (value == "") {
                    layer.msg("输入不能为空");
                } else {
                    $.ajax({
                        url: 'getRecommend?userno=' + value,
                        success: function (data) {
                            $("#layer-photos").html(data);
                        }
                    });
                }
            });

            $.scrollUp({
                scrollImg: true,// Set true to use image
                scrollName: 'scrollUp', // Element ID
                scrollDistance: 300, // Distance from top/bottom before showing element (px)
                scrollFrom: 'top', // 'top' or 'bottom'
                scrollSpeed: 300, // Speed back to top (ms)
                easingType: 'linear', // Scroll to top easing (see http://easings.net/)
                animation: 'fade', // Fade, slide, none
                animationInSpeed: 200, // Animation in speed (ms)
                animationOutSpeed: 200, // Animation out speed (ms)
                scrollText: 'Scroll to top', // Text for element, can contain HTML
                scrollTitle: false, // Set a custom <a> title if required. Defaults to scrollText
                activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
                zIndex: 2147483647 // Z-Index for the overlay
            });
        });


    </script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://cdnjs.w3cbus.com/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css"/>
    <![endif]-->

    <style type="text/css">
        /* Image style */
        #scrollUp {
            bottom: 20px;
            right: 20px;
            height: 38px; /* Height of image */
            width: 38px; /* Width of image */
            background: url(http://2.bp.blogspot.com/--EgHE5Oau7o/UpsYYWRE8YI/AAAAAAAAQE8/l6arzEsDIeQ/s1600/top.png) no-repeat;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">热门标签图书数</a>
        <p class="navbar-text navbar-right" id="book"></p>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" href="#">图书评论数</a>
        <p class="navbar-text navbar-right" id="comment"></p>
    </div>
    <div class="navbar-header">
        <p class="navbar-text navbar-right">(数据每60秒刷新一次)</p>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" value="输入书名" class="form-control" placeholder="Search">
            </div>
            <button type="button" id="btn-search" class="btn btn-default">提交</button>
        </form>
    </div>

</nav>

<form class="navbar-form" style="margin:0 auto" role="recommend">
    <div class="form-group" align="center">
        <input type="text" id="recommend" value="输入用户名" class="form-control" placeholder="Search">
    </div>
    <button type="button" id="btn-recommend" class="btn btn-default">求推荐图书</button>
</form>
<div id="layer-photos" class="layer-photos-demo" style="margin: auto ;text-align: center">
##      <img layer-pid="图片id，可以不写" layer-src="大图地址" src="缩略图" alt="图片名">
</div>
<div id="bookCount" style="height:400px; width:800px; padding: 10px;margin-right: auto; margin-left: auto; "></div>
<hr style="filter: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 size=3>
<div id="commentSort" style="height:400px; width:800px; padding: 10px;margin-right: auto; margin-left: auto; "></div>
<hr style="filter: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 size=3>
<div id="rating" style="height:400px; width:800px; padding: 10px;margin-right: auto; margin-left: auto; "></div>
<hr style="filter: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 size=3>
<div id="bookRating" style="height:400px; width:800px; padding: 10px;margin-right: auto; margin-left: auto; "></div>
<hr style="filter: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 size=3>
<div id="commentTime" style="height:400px; width:800px; padding: 10px;margin-right: auto; margin-left: auto; "></div>
<hr style="filter: alpha(opacity=0,finishopacity=100,style=1)" width="80%" color=#987cb9 size=3>

</body>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });


    // echart使用
    require(
            [
                'echarts',
                'echarts/chart/pie', // 使用柱状图就加载bar模块
                'echarts/chart/funnel', //漏斗
                'echarts/chart/bar', //柱状图
                'echarts/chart/line',  //折线
                'echarts/chart/treemap',   //矩形
            ],
            DrawEChart
    );

    function DrawEChart(ec) {
        var bookCountChart = ec.init(document.getElementById('bookCount'));
        var bookRatingChart = ec.init(document.getElementById('bookRating'));
        var commentSortChart = ec.init(document.getElementById('commentSort'));
        var ratingChart = ec.init(document.getElementById('rating'));
        var commentTimeChart = ec.init(document.getElementById('commentTime'));
        // 载入动画---------------------
        bookCountChart.showLoading({
            text: '正在努力的读取数据中...',
        });
        bookRatingChart.showLoading({
            text: '正在努力的读取数据中...',
        });
        commentSortChart.showLoading({
            text: '正在努力的读取数据中...',
        });
        ratingChart.showLoading({
            text: '正在努力的读取数据中...',
        });
        commentTimeChart.showLoading({
            text: '正在努力的读取数据中...',
        });
        //---------------------------------------------
        $.post("getBookCount", function (bookData) {
            console.log(JSON.stringify(bookData))
            var bookCountOption = {
                title: {
                    text: '热门标签图书数量分布',
                    subtext: '显示前10',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                grid: {
                    borderWidth: 0,
                    y: 80,
                    y2: 60
                },
                xAxis: [
                    {
                        type: 'category',
                        data: bookData.xAxis
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '图书数',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: function (params) {
                                    var colorList = [
                                        '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                        '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                        '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                                    ];
                                    return colorList[params.dataIndex]
                                },
                                label: {
                                    show: true,
                                    position: 'top',
                                    formatter: '{b}\n{c}'
                                },
                                barBorderRadius: 5
                            }
                        },
                        data: bookData.yAxis,
                        /*  markLine : {
                             data : [
                                 {type : 'average', name: '平均值'}
                             ]
                         } */
                    }
                ]
            };
            bookCountChart.hideLoading();
            bookCountChart.setOption(bookCountOption);
        });

        //---------------------------------------------
        $.post("getBookRatingSort", function (ratingData) {
            console.log(JSON.stringify(ratingData))
            var bookRatingOption = {
                title: {
                    text: '图书评分排序',
                    subtext: '显示前10'
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: ratingData.xAxis,
                        boundaryGap: [0, 1.0],
                    }
                ],
                yAxis: [
                    {
                        type: 'value',

                    }
                ],
                series: [
                    {
                        // name:'豆瓣图书',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: function (params) {
                                    var colorList = [
                                        '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                        '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                        '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                                    ];
                                    return colorList[params.dataIndex]
                                },
                                label: {
                                    show: false,
                                    position: 'right',
                                    formatter: '{b}\n{c}'
                                },
                                barBorderRadius: 5
                            }
                        },
                        data: ratingData.yAxis
                    }
                ]
            };
            bookRatingChart.hideLoading();
            bookRatingChart.setOption(bookRatingOption);
        });
        //---------------------------------------------
        $.post("getCommentSort", function (commentData) {
            console.log(JSON.stringify(commentData))
            var CommentSortOption = {
                title: {
                    text: '图书评论用户分布',
                    subtext: '显示前10',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: commentData.xAxis
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                series: [
                    {
                        name: '豆瓣用户',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            {value: commentData.yAxis[0], name: commentData.xAxis[0]},
                            {value: commentData.yAxis[1], name: commentData.xAxis[1]},
                            {value: commentData.yAxis[2], name: commentData.xAxis[2]},
                            {value: commentData.yAxis[3], name: commentData.xAxis[3]},
                            {value: commentData.yAxis[4], name: commentData.xAxis[4]},
                            {value: commentData.yAxis[5], name: commentData.xAxis[5]},
                            {value: commentData.yAxis[6], name: commentData.xAxis[6]},
                            {value: commentData.yAxis[7], name: commentData.xAxis[7]},
                            {value: commentData.yAxis[8], name: commentData.xAxis[8]},
                            {value: commentData.yAxis[9], name: commentData.xAxis[9]}
                        ]
                    }
                ]
            };

            commentSortChart.hideLoading();
            commentSortChart.setOption(CommentSortOption);
        });

        //---------------------------------------------
        $.post("getRatingStatistic", function (ratingData) {
            console.log(JSON.stringify(ratingData))
            var ratingOption = {
                title: {
                    text: '用户书评分值比例',
                    subtext: '评分星级1-5  (-1表示有评论无评分)',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ratingData.xAxis
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                series: [
                    {
                        name: '评分值',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true
                                },
                                labelLine: {
                                    show: true
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            }
                        },
                        data: [
                            {value: ratingData.yAxis[0], name: ratingData.xAxis[0]},
                            {value: ratingData.yAxis[1], name: ratingData.xAxis[1]},
                            {value: ratingData.yAxis[2], name: ratingData.xAxis[2]},
                            {value: ratingData.yAxis[3], name: ratingData.xAxis[3]},
                            {value: ratingData.yAxis[4], name: ratingData.xAxis[4]},
                            {value: ratingData.yAxis[5], name: ratingData.xAxis[5]}
                        ]
                    }
                ]
            };
            ratingChart.hideLoading();
            ratingChart.setOption(ratingOption);
        });
        //---------------------------------------------
        $.post("getCommentTimeStatistic", function (timeData) {
            console.log(JSON.stringify(timeData))
            var commentTimeOption = {
                title: {
                    text: '书评年份统计',
                    subtext: '仅热门标签下得统计',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['书评数'],
                    x: 'left'
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: timeData.xAxis
                    }
                ],
                yAxis: [
                    {
                        type: 'value'//,
//                       axisLabel : {
//                           formatter: '{value} 个'
//                       }
                    }
                ],
                series: [
                    {
                        name: '书评数',
                        type: 'line',
                        data: timeData.yAxis,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'}
                                //{type : 'min', name: '最小值'},
                            ]
                        }//,
//                       markLine : {
//                           data : [
//                               {type : 'average', name: '平均值'}
//                           ]
//                       }
                    }
                ]
            };
            commentTimeChart.hideLoading();
            commentTimeChart.setOption(commentTimeOption);
        });
    }
</script>
</html>
